Source: dns-api
Section: java
Priority: optional
Maintainer: Maximilian Falkenstein <mfalkenstein@sos.ethz.ch>
Uploaders: Maximilian Falkenstein <mfalkenstein@sos.ethz.ch>
Build-Depends: debhelper, maven-debian-helper
Standards-Version: 4.2.1
Vcs-Git: https://git.sos.ethz.ch/k8s/dns-api.git
Vcs-Browser: https://git.sos.ethz.ch/k8s/dns-api
Homepage: https://git.sos.ethz.ch/k8s/dns-api

Package: dns-api
Architecture: all
Depends: ${misc:Depends}, ${maven:Depends}, default-jdk (>= 2:1.11)
Suggests: ${maven:OptionalDepends}
Description: dnsapi
 A GRPC API for creating DNS records via the ETH netcenter.

